@model WebApplication2.Models.Composer

@{
    ViewData["Title"] = "Edit";
}

<h1>Edit</h1>

<h4>Composer</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-action="Edit">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <input type="hidden" asp-for="ComposerId" />
            <div class="form-group">
                <label asp-for="ComposerName" class="control-label"></label>
                <input asp-for="ComposerName" class="form-control" />
                <span asp-validation-for="ComposerName" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="ComposerSurname" class="control-label"></label>
                <input asp-for="ComposerSurname" class="form-control" />
                <span asp-validation-for="ComposerSurname" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="ComposerEmail" class="control-label"></label>
                <input asp-for="ComposerEmail" class="form-control" />
                <span asp-validation-for="ComposerEmail" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="ComposerGrade" class="control-label"></label>
                <input asp-for="ComposerGrade" class="form-control" />
                <span asp-validation-for="ComposerGrade" class="text-danger"></span>
            </div>
            <div class="form-group">
                <input type="submit" value="Save" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-action="Index">Back to List</a>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
